<nav class="navbar navbar-light bg-light shadow-sm px-3">
  <span class="navbar-brand">Angular 21 Dashboard</span>
  <!-- <div *ngIf="!auth.isLoggedIn(); else loggedIn">
    <form class="d-flex align-items-center" (ngSubmit)="login()" autocomplete="off">
      <input type="text" class="form-control me-2" placeholder="Username" [(ngModel)]="username" name="username" required style="width:120px">
      <input type="password" class="form-control me-2" placeholder="Password" [(ngModel)]="password" name="password" required style="width:120px">
      <button class="btn btn-primary me-2" type="submit">Login</button>
    </form>
    <div *ngIf="error" class="text-danger small mt-1">{{ error }}</div>
  </div> -->
  <!-- <ng-template #loggedIn> -->
  <!-- <ng-template> -->
    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
  <!-- </ng-template> -->
</nav>
